<!-- Reviews-->
<div class="container padding-top-2x">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card border-default">
        <div class="card-body">
          <div class="text-center">
            <div class="d-inline align-baseline display-3 mr-1">4.2</div>
            <div class="d-inline align-baseline text-sm text-warning mr-1">
                <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>
                </div>
            </div>
          </div>
          <div class="pt-3">
            <label class="text-medium text-sm">5 stars <span class='text-muted'>- 38</span></label>
            <div class="progress margin-bottom-1x">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 75%; height: 2px;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label class="text-medium text-sm">4 stars <span class='text-muted'>- 10</span></label>
            <div class="progress margin-bottom-1x">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 20%; height: 2px;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label class="text-medium text-sm">3 stars <span class='text-muted'>- 3</span></label>
            <div class="progress margin-bottom-1x">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 7%; height: 2px;" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label class="text-medium text-sm">2 stars <span class='text-muted'>- 1</span></label>
            <div class="progress margin-bottom-1x">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 3%; height: 2px;" aria-valuenow="3" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label class="text-medium text-sm">1 star <span class='text-muted'>- 0</span></label>
            <div class="progress mb-2">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 0; height: 2px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="pt-2"><a class="btn btn-warning btn-block" href="#" data-toggle="modal" data-target="#leaveReview">Leave a Review</a></div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h3 class="padding-bottom-1x">Latest Reviews</h3>
      <!-- Review-->
      <div class="comment">
        <div class="comment-author-ava"><img src="/img/reviews/02.jpg" alt="Comment author"></div>
        <div class="comment-body">
          <div class="comment-header d-flex flex-wrap justify-content-between">
            <h4 class="comment-title">My husband love his new...</h4>
            <div class="mb-2">
                <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>
                </div>
            </div>
          </div>
          <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>
          <div class="comment-footer"><span class="comment-meta">Maggie Scott</span></div>
        </div>
      </div>
      <!-- Review-->
      <div class="comment">
        <div class="comment-author-ava"><img src="/img/reviews/03.jpg" alt="Comment author"></div>
        <div class="comment-body">
          <div class="comment-header d-flex flex-wrap justify-content-between">
            <h4 class="comment-title">Awesome quality for the price</h4>
            <div class="mb-2">
                <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i>
                </div>
            </div>
          </div>
          <p class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...</p>
          <div class="comment-footer"><span class="comment-meta">Jacob Hammond</span></div>
        </div>
      </div>
      <!-- View All Button--><a class="btn btn-secondary btn-block" href="#">View All Reviews</a>
    </div>
  </div>
</div>
