<%
  # Required locals:
  #   either 'product' <Spree::Product>
-%>
<div class="product-gallery">
  <div class="gallery-wrapper"></div>
    <% if images.present? %>
      <%= render partial: 'spree/shared/image', locals: { image: product.images.first } %>
    <% end -%>
    <div class="product-carousel owl-carousel gallery-wrapper">
      <% product.images.to_a.each_with_index do|image, index| -%>
        <div class="gallery-item" data-hash="Image <%= index -%>"><%= render partial: 'spree/shared/image', locals: { image: image } %></div>
      <% end -%>
    <%= render partial: 'spree/products/thumbnails', locals: { product: product } %>
    </div>
</div>
