<div class="product-gallery">
  <div class="gallery-wrapper"></div>

  <%= render partial: 'image' %>
  <div class="product-carousel owl-carousel gallery-wrapper">
    <div class="gallery-item" data-hash="one"><%= render partial: 'image' %></div>

    <div class="gallery-item" data-hash="two"><a href="img/shop/single/02.jpg" data-size="1000x667"><img src="img/shop/single/02.jpg" alt="Product"></a></div>
    <div class="gallery-item" data-hash="three"><a href="img/shop/single/03.jpg" data-size="1000x667"><img src="img/shop/single/03.jpg" alt="Product"></a></div>
    <div class="gallery-item" data-hash="four"><a href="img/shop/single/04.jpg" data-size="1000x667"><img src="img/shop/single/04.jpg" alt="Product"></a></div>
    <div class="gallery-item" data-hash="five"><a href="img/shop/single/05.jpg" data-size="1000x667"><img src="img/shop/single/05.jpg" alt="Product"></a></div>
  </div>

  <%= render partial: 'thumbnails' %>

</div>
