<% cache [I18n.locale, current_pricing_options, @product] do %>
    <!-- Page Content-->

    <!-- test product detail -->
    <div class="container padding-bottom-3x">
      <div class="row">
        <!-- Poduct Gallery-->
        <div class="col-md-6">
          <%= render partial: 'product_gallery', locals: { product: @product } %>
        </div>
        <!-- Product Info-->
        <div class="col-md-6">
          <div class="padding-top-2x mt-2 hidden-md-up"></div>
          <div class="sp-categories pb-3"><i class="icon-tag"></i><a href="#">Drones,</a><a href="#">Action cameras</a></div>
          <h2 class="mb-3"><%= @product.name %></h2>
          <span class="h3 d-block"><%= display_price(@product) %></span>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptatibus quos ea dolore rem, molestias laudantium et explicabo... <a href='#details' class='scroll-to'>More info</a></p>
          <div class="row margin-top-1x">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="size">Choose color</label>
                <select class="form-control" id="size">
                  <option>White/Gray/Black</option>
                  <option>Black</option>
                  <option>Black/White/Red</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="color">Battery capacity</label>
                <select class="form-control" id="color">
                  <option>5100 mAh</option>
                  <option>6200 mAh</option>
                  <option>8000 mAh</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row align-items-end pb-4">
            <div class="col-sm-4">
              <div class="form-group mb-0">
                <label for="quantity">Quantity</label>
                <select class="form-control" id="quantity">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="pt-4 hidden-sm-up"></div>
              <button class="btn btn-primary btn-block m-0" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-check-circle" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-bag"></i> Add to Cart</button>
            </div>
          </div>
          <div class="pt-1 mb-4"><span class="text-medium">SKU:</span> #21457832</div>
        </div>
      </div>
    </div>
    <!-- Product Details-->
    <div class="bg-secondary padding-top-3x padding-bottom-2x mb-3" id="details">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="h4">Details</h3>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
            <h3 class="h4">Features</h3>
            <ul class="list-icon mb-4">
              <li><i class="icon-check text-success"></i>Capture 4K30 Video and 12MP Photos</li>
              <li><i class="icon-check text-success"></i>Game-Style Controller with Touchscreen</li>
              <li><i class="icon-check text-success"></i>View Live Camera Feed</li>
              <li><i class="icon-check text-success"></i>Full Control of HERO6 Black</li>
              <li><i class="icon-check text-success"></i>Use App for Dedicated Camera Operation</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h3 class="h4">Specifications</h3>
            <ul class="list-unstyled mb-4">
              <li><strong>Weight:</strong> 35.5oz (1006g)</li>
              <li><strong>Maximum Speed:</strong> 	35 mph (15 m/s)</li>
              <li><strong>Maximum Distance:</strong> 	Up to 9,840ft (3,000m)</li>
              <li><strong>Operating Frequency:</strong> 2.4GHz</li>
              <li><strong>Manufacturer:</strong> GoPro, USA</li>
            </ul>
            <h3 class="h4">Shipping Options:</h3>
            <ul class="list-unstyled mb-4">
              <li><strong>Courier:</strong> 2 - 4 days, $22.50</li>
              <li><strong>Local Shipping:</strong> up to one week, $10.00</li>
              <li><strong>UPS Ground Shipping:</strong> 4 - 6 days, $18.00</li>
              <li><strong>Unishop Global Export:</strong> 3 - 4 days, $25.00</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<% end %>
