
/*---------------------------------------------*/

.bold {
  font-weight: 500;
}


[data-cover] {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body, html {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.zoom-hover {
  overflow: hidden;
}

.zoom-hover img, .zoom-hover [data-cover] {
  transition: -webkit-transform .35s;
  transition: transform .35s;
  transition: transform .35s, -webkit-transform .35s;
}

.zoom-hover:hover img, .zoom-hover:hover [data-cover] {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.product-slider-small {
  margin-top: 1rem;
}

.product-slider-small .swiper-slide {
  opacity: .5;
  transition: opacity .1s;
  cursor: pointer;
}

.product-slider-small .swiper-slide.active {
  opacity: 1;
}

.gutters-1 {
  margin-right: -.125rem;
  margin-left: -.125rem;
}

.gutters-1 > .col,
.gutters-1 > [class*="col-"] {
  padding-right: .125rem;
  padding-left: .125rem;
}

.gutters-2 {
  margin-right: -.25rem;
  margin-left: -.25rem;
}

.gutters-2 > .col,
.gutters-2 > [class*="col-"] {
  padding-right: .25rem;
  padding-left: .25rem;
}

.gutters-3 {
  margin-right: -.5rem;
  margin-left: -.5rem;
}

.gutters-3 > .col,
.gutters-3 > [class*="col-"] {
  padding-right: .5rem;
  padding-left: .5rem;
}

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.grid-col-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-col-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid-col-8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid-col-9 {
  grid-template-columns: repeat(9, 1fr);
}

.grid-col-10 {
  grid-template-columns: repeat(10, 1fr);
}

.grid-col-11 {
  grid-template-columns: repeat(11, 1fr);
}

.grid-col-12 {
  grid-template-columns: repeat(12, 1fr);
}

@media (min-width: 576px) {
  .grid-col-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-col-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-col-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-col-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-col-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-col-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-col-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid-col-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid-col-sm-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid-col-sm-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid-col-sm-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid-col-sm-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 768px) {
  .grid-col-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-col-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-col-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-col-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-col-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-col-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-col-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid-col-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid-col-md-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid-col-md-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid-col-md-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid-col-md-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 992px) {
  .grid-col-lg-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-col-lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-col-lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-col-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-col-lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-col-lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-col-lg-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid-col-lg-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid-col-lg-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid-col-lg-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid-col-lg-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid-col-lg-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid-col-xl-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-col-xl-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-col-xl-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-col-xl-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-col-xl-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-col-xl-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-col-xl-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid-col-xl-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid-col-xl-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid-col-xl-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid-col-xl-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid-col-xl-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}

.grid-gap-0 {
  grid-gap: 0;
}

.row-gap-0 {
  row-gap: 0;
}

.column-gap-0 {
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

.grid-gap-1 {
  grid-gap: 0.25rem;
}

.row-gap-1 {
  row-gap: 0.25rem;
}

.column-gap-1 {
  -webkit-column-gap: 0.25rem;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
}

.grid-gap-2 {
  grid-gap: 0.5rem;
}

.row-gap-2 {
  row-gap: 0.5rem;
}

.column-gap-2 {
  -webkit-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

.grid-gap-3 {
  grid-gap: 1rem;
}

.row-gap-3 {
  row-gap: 1rem;
}

.column-gap-3 {
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.grid-gap-4 {
  grid-gap: 1.5rem;
}

.row-gap-4 {
  row-gap: 1.5rem;
}

.column-gap-4 {
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
}

.grid-gap-5 {
  grid-gap: 3rem;
}

.row-gap-5 {
  row-gap: 3rem;
}

.column-gap-5 {
  -webkit-column-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
}

@supports (-moz-appearance: meterbar) {
  .form-check-input {
    margin-top: .22rem;
  }
}

.form-style-1 .form-group:not(.form-check) > label, .form-style-2 .form-group:not(.form-check) > label {
  font-weight: bold;
}

.form-style-1 .form-control, .form-style-2 .form-control {
  border-radius: 0.25rem;
}

.form-style-1 .form-control:not(:focus):not([disabled]):not([readonly]), .form-style-2 .form-control:not(:focus):not([disabled]):not([readonly]) {
  background-color: #f8f9fa;
}

.form-style-1 .btn, .form-style-2 .btn {
  border-radius: 0.25rem;
}

.form-style-2 .form-control {
  border-radius: 10rem;
}

.form-style-2 .btn {
  border-radius: 10rem;
}

.input-icon {
  position: relative;
  display: block;
}

.input-icon > svg {
  position: absolute;
  top: 10px;
  left: 0.5rem;
}

.input-icon > .form-control {
  padding-left: 1.75rem;
}

.input-icon.input-icon-sm > svg {
  top: 8px;
  left: 0.25rem;
  width: 13px;
  height: 13px;
}

.input-icon.input-icon-sm > .form-control-sm {
  padding-left: 1.25rem;
}

.input-icon.input-icon-lg > svg {
  top: 11px;
  left: 0.75rem;
  width: 24px;
  height: 24px;
}

.input-icon.input-icon-lg > .form-control-lg {
  padding-left: 2.5rem;
}

.btn-icon {
  width: 35px;
  height: 35px;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-icon.btn-sm {
  width: 28px;
  height: 28px;
}

.btn-icon.btn-lg {
  width: 44px;
  height: 44px;
}

.wishlist,
.zoom,
.quickview {
  border: 0;
  color: #ced4da;
  position: absolute;
  top: .5rem;
  left: .5rem;
  font-size: 0;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: .3rem 0;
  border-radius: 50%;
  transition: color .2s;
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.wishlist.active,
.zoom.active,
.quickview.active {
  color: #e83e8c;
}

.wishlist:focus,
.zoom:focus,
.quickview:focus {
  outline: 0;
}

.zoom,
.quickview {
  left: auto;
  right: .5rem;
  color: #606975;
}

.quickview {
  color: #adb5bd;
  box-shadow: none;
}

.quickview:hover {
  color: #6c757d;
}

@media (max-width: 991.98px) {
  .quickview {
    display: none;
  }
}

.dropdown-menu {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.show .dropdown-menu {
  -webkit-animation-name: dropdownAnimate;
  animation-name: dropdownAnimate;
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
}

@-webkit-keyframes dropdownAnimate {
  from {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes dropdownAnimate {
  from {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .dropdown-hover .dropdown-menu {
    margin: 0;
  }
  .dropdown-hover:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-hover > .dropdown-toggle:not(.forwardable):active {
    pointer-events: none;
  }
}

.dropdown-item.has-icon > .feather {
  margin-right: .75rem;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-item {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
}

.dropdown-submenu > .dropdown-menu {
  top: -2px;
  left: calc(100% - 2px);
  overflow: hidden;
  min-width: 150px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.btn-group-scatter {
  float: left;
}

.btn-group-scatter .btn {
  float: left;
  margin: 0 5px 5px 0;
}

@supports (-webkit-appearance: none) {
  .custom-control-label::before, .custom-control-label::after {
    top: 0.14625rem;
  }
}

.custom-checkbox .custom-control-label::before {
  border-radius: 4px;
}

.custom-control-input:not(:disabled):not(:checked):hover ~ .custom-control-label::before, .custom-control-input:not(:disabled):not(:checked):focus ~ .custom-control-label::before {
  border-color: #606ddd;
}

.custom-control-nolabel {
  display: inline-block;
  width: 16px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.custom-control-nolabel > .custom-control-label {
  float: left;
}

.custom-control-nolabel > .custom-control-label::before, .custom-control-nolabel > .custom-control-label::after {
  left: 0;
}

.custom-radio-color {
  width: 20px;
  height: 20px;
  padding: 0;
  overflow: hidden;
}

.custom-radio-color .custom-control-label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: 0;
}

.custom-radio-color .custom-control-label::before {
  display: none;
}

.custom-radio-color .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  left: 2px;
  top: 2px;
}

.nav-link:not(:hover) {
  color: #606975;
}

.nav-icon {
  position: relative;
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-icon:hover {
  background-color: #e9ecef;
}

.nav-icon .badge {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}

.show > .nav-icon {
  color: #2a3bc6;
  background-color: #e9ecef;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  box-shadow: 0 1px 0 0 #606ddd;
}

.main-nav-pills {
  font-weight: bold;
}

.main-nav-pills .nav-link:not(.disabled) {
  padding: 1rem;
}

.main-nav-pills .disabled {
  padding: 1rem 0;
}

.card {
  box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-img-overlay-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.card-2col .card-title {
  font-weight: bold;
  text-align: center;
}

@media (max-width: 991.98px) {
  .card-2col .card-title {
    font-size: 1.3125rem;
  }
}

@media (max-width: 575.98px) {
  .card-2col .card-title {
    font-size: 1.09375rem;
  }
}

.card-2col-body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
}

@media (min-width: 768px) {
  .card-2col-body {
    width: 50%;
  }
}

@media (max-width: 575.98px) {
  .card-2col-body {
    padding: .5rem;
  }
}

@media (min-width: 768px) {
  .card-2col-img {
    width: 50%;
  }
}

.card-product {
  text-align: center;
}

.card-product:not(.card-product-list) .card-img-top {
  margin-bottom: 1rem;
}

.card-product:not(.card-product-list) .color-options {
  margin-top: .5rem;
}

.card-product:not(.card-product-list) .rating {
  display: block;
  margin-bottom: .5rem;
}

.card-product:not(.card-product-list) .badge {
  margin-bottom: .5rem;
}

.card-product .card-title {
  font-weight: bold;
  display: block;
}

.card-product .card-title:not(:hover) {
  color: #606975;
}

.card-product .badge {
  border-radius: .5rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media (min-width: 576px) {
  .card-product .badge {
    font-size: 90%;
  }
}

.card-product .card-footer {
  padding: 0 1rem 1rem;
  background-color: transparent;
}

@media (max-width: 575.98px) {
  .card-product .card-body {
    padding: .5rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-product .price span {
    font-size: 0.875rem;
  }
}

@media (max-width: 575.98px) {
  .card-product .price span {
    font-size: 0.875rem;
  }
}

.card-product-list {
  -ms-flex-direction: row;
  flex-direction: row;
}

.card-product-list > a {
  padding: 1rem;
}

@media (max-width: 991.98px) {
  .card-product-list > a {
    width: 40%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-product-list > a {
    width: 35%;
  }
}

@media (min-width: 1200px) {
  .card-product-list > a {
    width: 25%;
  }
}

.card-product-list .card-title {
  font-size: 1.09375rem;
}

.card-product-list .card-body {
  text-align: left;
}

@media (max-width: 991.98px) {
  .card-product-list .card-body {
    width: 60%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-product-list .card-body {
    width: 65%;
  }
}

@media (min-width: 1200px) {
  .card-product-list .card-body {
    width: 75%;
  }
}

.card-product-list .badge,
.card-product-list .rating {
  margin-left: .5rem;
}

.card-product-list .color-options {
  -ms-flex-pack: start;
  justify-content: start;
  margin-bottom: .5rem;
}

.card-product-list .attr {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: .5rem;
}

.card-pagination .card-body {
  display: -ms-flexbox;
  display: flex;
  padding: .5rem 0;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.card-pagination .btn {
  font-weight: bold;
}

.badge {
  line-height: 1.1;
}

.has-badge {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center;
  align-items: center;
}

.has-badge .badge {
  margin-left: auto;
}

.alert-primary {
  border-left-width: 3px;
}

.alert-primary .alert-icon {
  height: 21px;
  margin-right: .5rem;
  text-align: center;
  color: #d2d6f5;
  border-radius: 50%;
  background-color: #515cba;
  -ms-flex: 0 0 21px;
  flex: 0 0 21px;
}

.alert-success {
  border-left-width: 3px;
}

.alert-success .alert-icon {
  height: 21px;
  margin-right: .5rem;
  text-align: center;
  color: #cde9ce;
  border-radius: 50%;
  background-color: #409343;
  -ms-flex: 0 0 21px;
  flex: 0 0 21px;
}

.alert-info {
  border-left-width: 3px;
}

.alert-info .alert-icon {
  height: 21px;
  margin-right: .5rem;
  text-align: center;
  color: #bee5eb;
  border-radius: 50%;
  background-color: #13889b;
  -ms-flex: 0 0 21px;
  flex: 0 0 21px;
}

.alert-warning {
  border-left-width: 3px;
}

.alert-warning .alert-icon {
  height: 21px;
  margin-right: .5rem;
  text-align: center;
  color: #ffeeba;
  border-radius: 50%;
  background-color: #d6a206;
  -ms-flex: 0 0 21px;
  flex: 0 0 21px;
}

.alert-danger {
  border-left-width: 3px;
}

.alert-danger .alert-icon {
  height: 21px;
  margin-right: .5rem;
  text-align: center;
  color: #fccac7;
  border-radius: 50%;
  background-color: #cd382d;
  -ms-flex: 0 0 21px;
  flex: 0 0 21px;
}

.alert-dark {
  border-left-width: 3px;
}

.alert-dark .alert-icon {
  height: 21px;
  margin-right: .5rem;
  text-align: center;
  color: #c6c8ca;
  border-radius: 50%;
  background-color: #2c3136;
  -ms-flex: 0 0 21px;
  flex: 0 0 21px;
}

.list-group-no-border .list-group-item {
  margin-bottom: 0;
  border: 0;
}

.list-group-sm .list-group-item {
  padding: 0.25rem 0.75rem;
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal.show .modal-dialog {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.modal-right .modal-dialog,
.modal-left .modal-dialog {
  margin: 0;
}

.modal-right .modal-dialog,
.modal-right .modal-content,
.modal-left .modal-dialog,
.modal-left .modal-content {
  height: 100%;
}

.modal-right .modal-content,
.modal-left .modal-content {
  border: 0;
}

.modal-right .modal-header,
.modal-right .modal-footer,
.modal-left .modal-header,
.modal-left .modal-footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.modal-right {
  padding-right: 0 !important;
}

.modal-right .modal-dialog {
  margin-left: auto;
}

.modal-right.fade .modal-dialog {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.modal-right.show .modal-dialog {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.modal-left.fade .modal-dialog {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.modal-left.show .modal-dialog {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.tooltip-inner {
  border-radius: 0.25rem;
}

.flex-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.mt-gutter {
  margin-top: 30px;
}

.mb-gutter {
  margin-bottom: 30px;
}

.ml-ni {
  margin-left: -.657rem;
}

.mr-ni {
  margin-right: -.657rem;
}

.rounded-pill {
  border-radius: 10rem !important;
}

.roboto-condensed, .main-nav-pills, .price, .price span, .counter, .dropdown-cart .dropdown-menu .media-body > .qty,
.dropdown-cart .dropdown-menu .media-body > .price, .categories-grid, .swiper-overlay *:not(.btn), .or-divider {
  font-family: 'Roboto Condensed', sans-serif;
}

.top-0 {
  top: 0 !important;
}

.right-0 {
  right: 0 !important;
}

.bottom-0 {
  bottom: 0 !important;
}

.left-0 {
  left: 0 !important;
}

.price span {
  font-weight: bold;
  color: #e83e8c;
}

.price span.del {
  position: relative;
  margin: 0 .5rem;
  color: #adb5bd;
}

.price span.del::after {
  position: absolute;
  top: calc(50% - 2px);
  left: -5px;
  width: calc(100% + 10px);
  height: 4px;
  content: '';
  border-top: 1px solid #adb5bd;
  border-bottom: 1px solid #adb5bd;
}

.counter, .dropdown-cart .dropdown-menu .media-body > .qty,
.dropdown-cart .dropdown-menu .media-body > .price {
  color: #adb5bd;
}

.nostretch {
  width: 1%;
  white-space: nowrap;
}

.rating > svg {
  margin-bottom: 3px;
  fill: #ffc107;
}

.minw-0 {
  min-width: 0 !important;
}

.minh-0 {
  min-height: 0 !important;
}

.size50x50 {
  width: 50px;
  height: 50px;
}

.input-group-search {
  border: 1px solid #dee2e6;
  border-radius: 2rem;
  overflow: hidden;
}

/* Size */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar:horizontal {
  height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
}

::-webkit-scrollbar-track:vertical {
  border-left: 1px solid #d9d9d9;
}

::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid #d9d9d9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c2c2c2;
}

::-webkit-scrollbar-thumb:vertical {
  border-left: 1px solid #9c9c9c;
}

::-webkit-scrollbar-thumb:horizontal {
  border-top: 1px solid #9c9c9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #919191;
}

::-webkit-scrollbar-thumb:hover:vertical {
  border-left: 1px solid #6a6a6a;
}

::-webkit-scrollbar-thumb:hover:horizontal {
  border-top: 1px solid #6a6a6a;
}

.ps__rail-x {
  height: 7px;
}

.ps__rail-y {
  width: 7px;
}

.ps__rail-x,
.ps__rail-y {
  z-index: 2;
}

.ps__thumb-x {
  height: 3px;
}

.ps__thumb-y {
  width: 3px;
}

.ps__thumb-x,
.ps__thumb-y {
  border-radius: 0;
}

.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
  background: rgba(51, 51, 51, 0.1);
}

.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover {
  height: 10px;
}

.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
  width: 10px;
}

.ps__rail-x.ps--clicking .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x:hover > .ps__thumb-x {
  height: 6px;
}

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y {
  width: 6px;
}

.feather {
  vertical-align: sub;
}

.feather[width="24"] {
  width: 15px;
  height: 15px;
}

.btn-sm > .feather[width="24"] {
  width: .875rem;
  height: .875rem;
}

.btn-lg > .feather[width="24"] {
  width: 1.125rem;
  height: 1.125rem;
}

.badge .feather[width="24"] {
  width: 1em;
  height: 1em;
  vertical-align: top;
}

.topbar {
  position: relative;
  z-index: 1031;
  border-bottom: 1px solid #dee2e6;
  background-color: #fff;
}

.topbar .nav-link {
  padding: .25rem 1rem;
}

.nav-lang .nav-link {
  font-weight: bold;
  padding: .25rem;
  color: #606975;
}

.nav-lang .nav-link.active {
  color: #606ddd;
}

.nav-lang .nav-link.pipe {
  font-weight: normal;
  line-height: 1.4;
}

header {
  position: relative;
  z-index: 1030;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

header .main-container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.fixed-top {
  -webkit-animation-name: headerAnimation;
  animation-name: headerAnimation;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes headerAnimation {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes headerAnimation {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.nav-logo {
  font-size: 1.09375rem;
  width: 100px;
  padding-left: 0;
}

.nav-logo:hover, .nav-logo:focus {
  color: inherit;
}

.nav-logo img {
  vertical-align: text-top;
}

.nav-toggler:focus {
  outline: 0;
}

.nav-main .nav-link {
  font-weight: bold;
  position: relative;
}

.nav-main .nav-link.active::after {
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #606ddd;
}

.nav-main .show > .nav-link {
  color: #606ddd;
}

.nav-main .dropdown-item {
  padding: 0.35rem 1rem;
}

.nav-main .dropdown-item.active {
  font-weight: bold;
  color: #606ddd;
  background-color: #fff;
}

@media (max-width: 575.98px) {
  .form-search {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 15px;
    background-color: #fff;
  }
}

.form-search .input-group {
  height: 36px;
}

@media (max-width: 575.98px) {
  .form-search .input-group {
    width: 100%;
  }
}

.dropdown-mega {
  position: static;
}

.dropdown-mega > .dropdown-menu {
  right: 15px;
  left: 15px;
  margin-top: -9px !important;
  padding: 1rem;
}

.modal-menu .modal-dialog {
  width: 200px;
  transition: -webkit-transform .45s ease;
  transition: transform .45s ease;
  transition: transform .45s ease, -webkit-transform .45s ease;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.modal-menu .modal-body {
  padding: 0;
  background-color: #fff;
}

body.transparent-backdrop .modal-backdrop {
  opacity: 0;
}

.menu {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.menu ul {
  padding-left: 0;
  list-style: none;
}

.menu a {
  display: block;
}

.menu .feather {
  width: 17px;
  height: 17px;
  margin-right: .5rem;
}

.menu > li > a {
  font-weight: bold;
  padding: .75rem 1rem;
  color: #828282;
}

.menu > li > a:hover {
  color: #151515;
  background-color: #f8f8f8;
}

.menu > li.mm-active {
  background-color: #f8f8f8;
  box-shadow: 4px 0px 0px 0px #606ddd inset;
}

.menu > li.mm-active > a {
  color: #151515;
  background-color: #f8f8f8;
  box-shadow: 4px 0px 0px 0px #606ddd inset;
}

.menu > li > ul > li > a {
  padding: .5rem 1rem .5rem 45px;
  color: #151515;
}

.menu > li > ul > li > a:hover {
  color: #606ddd;
}

.menu > li > ul > li.mm-active > a {
  position: relative;
  color: #606ddd;
}

.menu > li > ul > li.mm-active > a::before {
  position: absolute;
  top: 50%;
  left: 21px;
  width: 7px;
  height: 7px;
  margin-top: -3.5px;
  content: '';
  border-radius: 50%;
  background-color: #606ddd;
}

.menu > li > ul > li > ul > li > a {
  padding: .5rem 1rem .5rem 4rem;
  color: #151515;
}

.menu > li > ul > li > ul > li > a:hover {
  color: #606ddd;
}

.menu > li > ul > li > ul > li.mm-active > a {
  color: #606ddd;
}

.dropdown-cart .dropdown-menu {
  width: 300px;
  padding: .5rem .75rem;
}

.dropdown-cart .dropdown-menu .media {
  position: relative;
  padding: .5rem 0;
}

.dropdown-cart .dropdown-menu .media > a {
  margin-right: .5rem;
}

.dropdown-cart .dropdown-menu .media:not(:last-child) {
  border-bottom: 1px dotted #dee2e6;
}

.dropdown-cart .dropdown-menu .media-body > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 185px;
  margin-bottom: 2px;
  display: block;
  font-weight: bold;
}

.dropdown-cart .dropdown-menu .media-body > a:not(:hover) {
  color: #606975;
}

.dropdown-cart .dropdown-menu .media-body > .qty {
  width: 25px;
  display: inline-block;
  text-align: center;
}

.dropdown-cart .dropdown-menu .media-body > .price {
  margin-left: .5rem;
}

.dropdown-cart .dropdown-menu .media-body .close {
  position: absolute;
  top: calc(50% - 12px);
  right: 2px;
  color: #f44336;
}

.dropdown-cart .dropdown-menu .media-body .close:hover {
  color: #f44336;
}

.dropdown-cart .dropdown-menu .media-body .close > .feather {
  width: 1.25rem;
  height: 1.25rem;
}

.color-options {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.color-options label {
  margin: 0 .5rem 0 0;
}

.size-options > label {
  width: 35px;
  border-radius: 50% !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.size-options > label:not(:first-child) {
  margin-left: .25rem !important;
}

.size-options.btn-group-sm > label {
  width: 28px;
}

.size-options.btn-group-lg > label {
  width: 44px;
}

.categories-grid {
  position: relative;
}

.categories-grid .card-title {
  text-align: center;
  color: #fff;
}

.categories-grid .sa-btn {
  position: absolute;
  left: 50%;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  height: 36px;
  margin-left: -45px;
  border: 0;
  border-radius: 2rem;
  background-color: #fff;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 575.98px) {
  .categories-grid .sa-btn {
    bottom: 90px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .categories-grid .sa-btn {
    bottom: 118px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .categories-grid .sa-btn {
    bottom: 105px;
    left: 494px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .categories-grid .sa-btn {
    bottom: 144px;
    left: 641px;
  }
}

@media (min-width: 1200px) {
  .categories-grid .sa-btn {
    bottom: 182px;
    left: 783px;
  }
}

.categories-grid .card-img-overlay {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.accordion .card {
  overflow: hidden;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion .card-header {
  display: block;
  padding: 0;
  background-color: #fff;
}

.accordion .card-header > a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .75rem 1rem;
  margin-bottom: 0;
  font-weight: bold;
}

.accordion .card-header > a:hover, .accordion .card-header > a[aria-expanded="true"] {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.03);
  color: #606975;
}

.accordion .collapse.show,
.accordion .collapsing {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.125) inset;
}

.accordion.accordion-caret .card-header > a {
  padding-right: 2rem;
}

.accordion.accordion-caret .card-header > a::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  right: .75rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .35s;
  margin-top: -2px;
}

.accordion.accordion-caret .card-header > a[aria-expanded="true"]::after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: 2px;
}

.accordion-sidebar {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.accordion-sidebar .card {
  border-left: 0;
  border-right: 0;
}

@media (min-width: 768px) {
  .accordion-sidebar .card:first-of-type {
    border-top: 0;
  }
}

.accordion-sidebar .card-header > a[aria-expanded="true"], .accordion-sidebar .card-header > a:hover {
  background-color: #fff;
}

.accordion-sidebar .card-body {
  padding-top: 0;
}

.accordion-sidebar .color-options {
  -ms-flex-pack: start;
  justify-content: start;
}

.accordion-sidebar .collapse.show,
.accordion-sidebar .collapsing {
  box-shadow: none;
}

.table-cart tr {
  border-bottom: 1px solid #dee2e6;
}

.table-cart td {
  vertical-align: middle;
}

td.cart-img img {
  width: 50px;
  height: auto;
}

@media (max-width: 767.98px) {
  td.cart-img {
    vertical-align: top;
  }
}

@media (max-width: 575.98px) {
  td.cart-img,
  td.cart-title,
  td.cart-qty,
  td.cart-subtotal {
    display: inline-block;
  }
  td.cart-price {
    display: none;
  }
  td.cart-img {
    width: 60px;
  }
  td.cart-title {
    width: calc(100% - 64px);
  }
  td.cart-qty {
    width: 166px;
    text-align: right !important;
  }
  td.cart-subtotal {
    text-align: left !important;
  }
  td.cart-action {
    vertical-align: top;
  }
  td.cart-img,
  td.cart-title {
    padding-top: 1rem;
  }
  td.cart-qty,
  td.cart-subtotal {
    padding-bottom: 1rem;
  }
}

.noty_theme__mint.noty_bar {
  position: relative;
  overflow: hidden;
  margin: 4px 0;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 0 5px 0;
}

.noty_theme__mint.noty_bar .noty_progressbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  opacity: .2;
  background-color: #000;
  filter: alpha(opacity=20);
}

.noty_theme__mint.noty_bar .noty_body {
  font-size: 13px;
  padding: 1.25em;
}

.noty_theme__mint.noty_bar .noty_buttons {
  padding: 0 10px .5em 10px;
}

.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  color: #606975;
  background-color: rgba(255, 255, 255, 0.8);
}

.noty_theme__mint.noty_type__warning {
  color: #fff;
  background-color: rgba(255, 193, 7, 0.8);
}

.noty_theme__mint.noty_type__error {
  color: #FFF;
  background-color: rgba(244, 67, 54, 0.8);
}

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  color: #FFF;
  background-color: rgba(23, 162, 184, 0.8);
}

.noty_theme__mint.noty_type__success {
  color: #fff;
  background-color: rgba(76, 175, 80, 0.8);
}

.noty_theme__mint.noty_type__pink {
  color: #fff;
  background-color: rgba(232, 62, 140, 0.8);
}

#noty_layout__topRight {
  width: 310px;
}

.noUi-target {
  border: 0;
  background: #dbdbdb;
  box-shadow: none;
}

.noUi-connects {
  border-radius: 0;
}

.noUi-connect {
  background: #606ddd;
  box-shadow: none;
}

.noUi-horizontal {
  height: 5px;
}

.noUi-horizontal .noUi-handle {
  top: -6px;
  right: -8.5px !important;
  width: 17px;
  height: 17px;
}

.noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
  content: none;
}

.noUi-vertical {
  width: 5px;
}

.noUi-vertical .noUi-handle {
  top: -9px;
  left: -6px;
  width: 17px;
  height: 17px;
}

.noUi-vertical .noUi-handle:before, .noUi-vertical .noUi-handle:after {
  content: none;
}

.noUi-handle {
  border-radius: 50%;
}

.noUi-handle:focus {
  outline: 0;
}

.brands-list {
  position: relative;
  max-height: 250px;
  overflow: auto;
  padding-right: 15px;
}

.brands-list .custom-checkbox:not(:first-child) {
  margin-top: 5px;
}

.brands-list label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.list-tree {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.list-tree a {
  display: block;
  padding: .25rem .75rem .25rem 1.5rem;
}

.list-tree a:not(:hover) {
  color: #606975;
}

.list-tree a:hover {
  font-weight: bold;
}

.list-tree .has-arrow::after {
  left: 0;
  -webkit-transform: rotate(135deg) translateY(-50%);
  transform: rotate(135deg) translateY(-50%);
}

.list-tree .mm-active > a {
  color: #606ddd;
  font-weight: bold;
}

.list-tree .mm-active > a.has-arrow::after {
  -webkit-transform: rotate(225deg) translateY(0);
  transform: rotate(225deg) translateY(0);
}

.list-tree ul {
  padding-left: 0;
  list-style: none;
  margin-left: 1.5rem;
  box-shadow: 1px 0 0 0 #dee2e6 inset;
}

.list-tree ul > li > a {
  position: relative;
  padding-left: 1.25rem;
}

.list-tree ul > li > a::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #dee2e6;
  left: 0;
  top: 49%;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spinner {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.spinner input[type="number"] {
  font-weight: bold;
  width: 55px;
  text-align: center;
  border: 0;
}

.spinner .btn {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  color: #868a8f;
}

.spinner .btn:hover {
  background-color: #e9ecef;
}

.spinner.spinner-sm input[type="number"] {
  width: 40px;
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.76563rem;
}

.spinner.spinner-sm .btn {
  width: 28px;
  height: 28px;
}

.spinner.spinner-sm .btn > .feather {
  width: .875rem;
  height: .875rem;
}

.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 5px 0 #333;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-top: -20px;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: 0;
}

.swiper-button-next-sm,
.swiper-button-prev-sm {
  width: 26px;
  height: 26px;
  margin-top: -13px;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background: none;
}

.swiper-button-next > .feather,
.swiper-button-prev > .feather,
.swiper-container-rtl .swiper-button-next > .feather,
.swiper-container-rtl .swiper-button-prev > .feather {
  width: 100%;
  height: 100%;
  color: #868a8f;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  stroke-width: 1;
}

.swiper-button-next.swiper-button-disabled > .feather,
.swiper-button-prev.swiper-button-disabled > .feather {
  box-shadow: none;
}

@media (min-width: 992px) {
  .swiper-button-next.autohide,
  .swiper-button-prev.autohide,
  .swiper-container-rtl .swiper-button-next.autohide,
  .swiper--rtl .swiper-button-prev.autohide {
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
  }
  .swiper-container:hover .swiper-button-next.autohide, .swiper-container:hover
  .swiper-button-prev.autohide, .swiper-container:hover
  .swiper-container-rtl .swiper-button-next.autohide, .swiper-container:hover
  .swiper-container-rtl .swiper-button-prev.autohide {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.swiper-button-next.autohide,
.swiper-container-rtl .swiper-button-prev.autohide {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
}

.swiper-button-prev.autohide,
.swiper-container-rtl .swiper-button-next.autohide {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}

.swiper-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 10%;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-overlay.left {
  -ms-flex-align: start;
  align-items: flex-start;
}

.swiper-overlay.right {
  -ms-flex-align: end;
  align-items: flex-end;
}

.swiper-overlay *:not(.btn) {
  font-weight: bold;
}

@media (max-width: 767.98px) {
  .swiper-overlay h1 {
    font-size: 180%;
  }
}

@media (max-width: 575.98px) {
  .swiper-overlay h1 {
    font-size: 120%;
  }
}

@media (max-width: 767.98px) {
  .swiper-overlay .display-4 {
    font-size: 300%;
  }
}

@media (max-width: 575.98px) {
  .swiper-overlay .display-4 {
    font-size: 200%;
  }
}

.swiper-overlay .animated {
  visibility: hidden;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.swiper-overlay .animated:nth-child(2) {
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}

.swiper-overlay .animated:nth-child(3) {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.fadeUp {
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
}

.fadeDown {
  -webkit-animation-name: fadeDown;
  animation-name: fadeDown;
}

@-webkit-keyframes fadeUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.form-checkout {
  max-width: 500px;
}

@media (min-width: 576px) {
  .shipping-group {
    font-size: 1.09375rem;
  }
  .shipping-group .custom-control {
    padding-left: 2rem;
  }
  .shipping-group .custom-control-label::before,
  .shipping-group .custom-control-label::after {
    left: -2rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.jp-card {
  min-width: auto !important;
}

.jp-card-container {
  width: 100% !important;
}

.or-divider {
  position: absolute;
  left: 50%;
  margin-left: -17.5px;
  z-index: 1;
  top: 50%;
  margin-top: -17.5px;
  font-weight: bold;
  color: #212529;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  width: 35px;
  height: 35px;
}

.card-login::before {
  content: '';
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #dee2e6;
  left: 50%;
}

@media (min-width: 768px) {
  .col-login {
    padding-right: 30px;
  }
  .col-register {
    padding-left: 30px;
  }
}

@media (max-width: 767.98px) {
  .or-divider {
    position: static;
    margin: 30px auto;
  }
  .or-divider::before {
    content: '';
  }
  .card-login::before {
    width: auto;
    height: 1px;
    right: 0;
    left: 0;
    top: 50%;
    bottom: auto;
    margin-top: -1px;
  }
}

.card-blog img {
  width: 100%;
}

.card-blog .title {
  display: block;
  margin-bottom: .75rem;
  font-weight: bold;
}

.card-blog .title:not(:hover) {
  color: #606975;
}

.card-blog .card-footer {
  background-color: #fff;
  border-top: 1px solid #dee2e6;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card-blog-list {
  -ms-flex-direction: row;
  flex-direction: row;
}

@media (max-width: 991.98px) {
  .card-blog-list > a {
    width: 45%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-blog-list > a {
    width: 35%;
  }
}

@media (min-width: 1200px) {
  .card-blog-list > a {
    width: 25%;
  }
}

@media (max-width: 991.98px) {
  .card-blog-list .card-body {
    width: 55%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-blog-list .card-body {
    width: 65%;
  }
}

@media (min-width: 1200px) {
  .card-blog-list .card-body {
    width: 75%;
  }
}

.embed-map {
  height: 345px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .embed-map {
    height: 419px;
  }
}

.footer {
  background-color: #fff;
  border-top: 2px solid #dee2e6;
  padding-top: 1rem;
}

.footer .row > [class*="col-"] {
  margin-bottom: 1.5rem;
}

.footer .list-group-sm .list-group-item {
  background-color: #fff;
  padding-left: 0;
}

.footer .list-group-sm .list-group-item:hover, .footer .list-group-sm .list-group-item:focus {
  background-color: inherit;
  color: #606ddd;
  font-weight: bold;
}

.download-app {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 .5rem .5rem 0;
  padding: 10px 15px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  line-height: 1.2;
  transition: background-color .1s;
}

.download-app img {
  width: 30px;
  margin-right: 15px;
}

.download-app .media-body {
  margin-top: -4px;
}

.download-app h5 {
  color: #606975;
  margin-bottom: 0;
}

.download-app small {
  color: #adb5bd;
}

.download-app:hover {
  background-color: #f8f8f8;
}

.copyright {
  text-align: center;
  padding: .5rem 0;
  background-color: #fff;
  border-top: 1px solid #dee2e6;
  font-size: 90%;
}

/*# sourceMappingURL=style.css.map */
