.search-container input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  padding-right: 100px;
  margin-top: 8px;
  margin-right: 32x;
  font-size: 16px;
  border-radius: 2px;
  font-family: Poppins-Light;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
 background: #ccc;
}
