<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p>Copywrite TBDMarket 2019</p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
<%= yield :footer_extra -%>