<!--Header -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
   <header class="navbar navbar-expand navbar-light fixed-top">

     <!-- Toggle Menu -->
     <span class="toggle-menu"><i class="fa fa-bars fa-lg"></i></span>

     <!-- Logo -->
     <a class="navbar-brand" href="index.html"><%= logo img_options: { class: 'img-responsive', width: '64' } %></a>

     <!-- Search Form -->
     <form class="form-inline form-search d-none d-sm-inline">
       <div class="input-group">
         <button class="btn btn-light btn-search-back" type="button"><i class="fa fa-arrow-left"></i></button>
         <input type="text" class="form-control" placeholder="Search ..." aria-label="Search ...">
         <button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
       </div>
     </form>
     <!-- /Search Form -->

     <!-- navbar-nav -->
     <ul class="navbar-nav ml-auto">

       <!-- Currency Dropdown -->
       <li class="nav-item dropdown d-none d-md-flex">
         <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownCurrency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           USD <i class="fa fa-caret-down fa-fw"></i>
         </a>
         <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCurrency">
           <button class="dropdown-item" type="button">USD</button>
           <button class="dropdown-item" type="button">EUR</button>
         </div>
       </li>
       <!-- /Currency Dropdown -->

       <!-- Language Dropdown -->
       <li class="nav-item dropdown d-none d-md-flex">
         <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           English <i class="fa fa-caret-down fa-fw"></i>
         </a>
         <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
           <button class="dropdown-item" type="button">English</button>
           <button class="dropdown-item" type="button">Spain</button>
         </div>
       </li>
       <!-- /Language Dropdown -->

       <!-- Search Toggle -->
       <li class="nav-item d-sm-none">
         <a href="#" class="nav-link" id="search-toggle"><i class="fa fa-search fa-lg"></i></a>
       </li>
       <!-- /Search Toggle -->

       <!-- Shopping Cart Toggle -->
       <li class="nav-item dropdown ml-1 ml-sm-3">
         <a href="#" class="nav-link" data-toggle="modal" data-target="#cartModal">
           <i class="fa fa-shopping-cart fa-lg"></i>
           <span class="badge badge-pink badge-count">4</span>
         </a>
       </li>
       <!-- /Shopping Cart Toggle -->

       <!-- Notification Dropdown -->
       <li class="nav-item dropdown ml-1 ml-sm-3">
         <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownNotif" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="fa fa-bell fa-lg"></i>
           <span class="badge badge-info badge-count">3</span>
         </a>
         <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownNotif">
           <a class="dropdown-item has-icon" href="#"><i class="fa fa-envelope"></i> 1 New Message</a>
           <a class="dropdown-item has-icon" href="#"><i class="fa fa-comment"></i> 2 New Comments</a>
         </div>
       </li>
       <!-- /Notification Dropdown -->

       <!-- Login Button -->
       <!-- <li class="nav-item ml-4">
         <a href="login.html" class="nav-link btn btn-light btn-sm"><i class="fa fa-sign-in"></i> Login</a>
       </li> -->
       <!-- /Login Button -->

     </ul>
     <!-- /navbar-nav -->

     <!-- User Dropdown -->
     <div class="dropdown dropdown-user">
       <a class="dropdown-toggle" href="#" role="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <img src="../img/user.svg" alt="User">
       </a>
       <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
         <a class="dropdown-item has-icon" href="account-order.html"><i class="fa fa-shopping-bag fa-fw"></i> My Orders</a>
         <a class="dropdown-item has-icon has-badge" href="account-wishlist.html"><i class="fa fa-heart fa-fw"></i> Wishlist <span class="badge badge-secondary">3</span></a>
         <a class="dropdown-item has-icon" href="account-profile.html"><i class="fa fa-cog fa-fw"></i> Account Setting</a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item has-icon" href="login.html"><i class="fa fa-sign-out fa-fw"></i> Sign out</a>
       </div>
     </div>
     <!-- /User Dropdown -->

   </header>
   <!-- /Header -->
