<!-- Main Navigation-->
<nav class="site-menu">
  <ul>
    <li class="has-submenu active"><%= link_to('Home', root_path) %></li>
    <li class="has-megamenu"><a href="#">Women's Fashion</a>
      <ul class="mega-menu">
        <li><span class="mega-menu-title">Women's Tops</span>
          <ul class="sub-menu">
            <li><a href="#">Computers &amp; Accessories</a></li>
            <li><a href="#">Smartphones &amp; Tablets</a></li>
            <li><a href="#">TV, Video &amp; Audio</a></li>
            <li><a href="#">Cameras, Photo &amp; Video</a></li>
            <li><a href="#">Headphones</a></li>
            <li><a href="#">Wearable Electronics</a></li>
            <li><a href="#">Printers &amp; Ink</a></li>
            <li><a href="#">Video Games</a></li>
          </ul>
        </li>
        <li><span class="mega-menu-title">Women's Bottoms</span>
          <ul class="sub-menu">
            <li><a href="#">Apple</a></li>
            <li><a href="#">Canon Inc.</a></li>
            <li><a href="#">Hewlett-Packard</a></li>
            <li><a href="#">Lenovo</a></li>
            <li><a href="#">Panasonic</a></li>
            <li><a href="#">Samsung Electronics</a></li>
            <li><a href="#">Sony</a></li>
            <li><a href="#">Toshiba</a></li>
          </ul>
        </li>
        <li><span class="mega-menu-title">Women's Intimates</span>
          <ul class="sub-menu">
            <li><a href="#">Apple</a></li>
            <li><a href="#">Canon Inc.</a></li>
            <li><a href="#">Hewlett-Packard</a></li>
            <li><a href="#">Lenovo</a></li>
            <li><a href="#">Panasonic</a></li>
            <li><a href="#">Samsung Electronics</a></li>
            <li><a href="#">Sony</a></li>
            <li><a href="#">Toshiba</a></li>
          </ul>
        </li>
        <li><a class="card border-0 bg-secondary rounded-0" href="shop-grid-ls.html"><img class="d-block mx-auto" alt="Samsung Galaxy S9" src="/img/banners/mega-menu.jpg"></a></li>
      </ul>
    </li>
    <li class="has-megamenu"><a href="#">Men's Fashion</a>
      <ul class="mega-menu">
        <li><span class="mega-menu-title">Men's Tops</span>
          <ul class="sub-menu">
            <li><a href="#">Computers &amp; Accessories</a></li>
            <li><a href="#">Smartphones &amp; Tablets</a></li>
            <li><a href="#">TV, Video &amp; Audio</a></li>
            <li><a href="#">Cameras, Photo &amp; Video</a></li>
            <li><a href="#">Headphones</a></li>
            <li><a href="#">Wearable Electronics</a></li>
            <li><a href="#">Printers &amp; Ink</a></li>
            <li><a href="#">Video Games</a></li>
          </ul>
        </li>
        <li><span class="mega-menu-title">Men's Bottoms</span>
          <ul class="sub-menu">
            <li><a href="#">Apple</a></li>
            <li><a href="#">Canon Inc.</a></li>
            <li><a href="#">Hewlett-Packard</a></li>
            <li><a href="#">Lenovo</a></li>
            <li><a href="#">Panasonic</a></li>
            <li><a href="#">Samsung Electronics</a></li>
            <li><a href="#">Sony</a></li>
            <li><a href="#">Toshiba</a></li>
          </ul>
        </li>
        <li><span class="mega-menu-title">Men's Underwear</span>
          <ul class="sub-menu">
            <li><a href="#">Apple</a></li>
            <li><a href="#">Canon Inc.</a></li>
            <li><a href="#">Hewlett-Packard</a></li>
            <li><a href="#">Lenovo</a></li>
            <li><a href="#">Panasonic</a></li>
            <li><a href="#">Samsung Electronics</a></li>
            <li><a href="#">Sony</a></li>
            <li><a href="#">Toshiba</a></li>
          </ul>
        </li>
        <li><span class="mega-menu-title">Popular Brands</span>
          <ul class="sub-menu">
            <li><a href="#">Apple</a></li>
            <li><a href="#">Canon Inc.</a></li>
            <li><a href="#">Hewlett-Packard</a></li>
            <li><a href="#">Lenovo</a></li>
            <li><a href="#">Panasonic</a></li>
            <li><a href="#">Samsung Electronics</a></li>
            <li><a href="#">Sony</a></li>
            <li><a href="#">Toshiba</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="has-megamenu"><a href="#">Handbags & Purses</a>
      <ul class="mega-menu">
        <li><span class="mega-menu-title">Top Categories</span>
          <ul class="sub-menu">
            <li><a href="#">Computers &amp; Accessories</a></li>
            <li><a href="#">Smartphones &amp; Tablets</a></li>
            <li><a href="#">TV, Video &amp; Audio</a></li>
            <li><a href="#">Cameras, Photo &amp; Video</a></li>
            <li><a href="#">Headphones</a></li>
            <li><a href="#">Wearable Electronics</a></li>
            <li><a href="#">Printers &amp; Ink</a></li>
            <li><a href="#">Video Games</a></li>
          </ul>
        </li>
        <li><span class="mega-menu-title">Popular Brands</span>
          <ul class="sub-menu">
            <li><a href="#">Apple</a></li>
            <li><a href="#">Canon Inc.</a></li>
            <li><a href="#">Hewlett-Packard</a></li>
            <li><a href="#">Lenovo</a></li>
            <li><a href="#">Panasonic</a></li>
            <li><a href="#">Samsung Electronics</a></li>
            <li><a href="#">Sony</a></li>
            <li><a href="#">Toshiba</a></li>
          </ul>
        </li>
        <li><span class="mega-menu-title">Store Locator</span>
          <div class="card mb-3">
            <div class="card-body">
              <ul class="list-icon">
                <li> <i class="icon-map-pin text-muted"></i>514 S. Magnolia St. Orlando, FL 32806, USA</li>
                <li> <i class="icon-phone text-muted"></i>+1 (786) 322 560 40</li>
                <li class="mb-0"><i class="icon-mail text-muted"></i><a class="navi-link" href="mailto:orlando.store@unishop.com">orlando.store@unishop.com</a></li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <ul class="list-icon">
                <li> <i class="icon-map-pin text-muted"></i>44 Shirley Ave. West Chicago, IL 60185, USA</li>
                <li> <i class="icon-phone text-muted"></i>+1 (847) 252 765 33</li>
                <li class="mb-0"><i class="icon-mail text-muted"></i><a class="navi-link" href="mailto:chicago.store@unishop.comm">chicago.store@unishop.com</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li><a class="card border-0 bg-secondary rounded-0" href="shop-grid-ls.html"><img class="d-block mx-auto" alt="Samsung Galaxy S9" src="/img/banners/mega-menu.jpg"></a></li>
      </ul>
    </li>
    <li class="has-megamenu"><a href="#">Accessories</a>
      <ul class="mega-menu">
        <li><span class="mega-menu-title">Top Categories</span>
          <ul class="sub-menu">
            <li><a href="#">Computers &amp; Accessories</a></li>
            <li><a href="#">Smartphones &amp; Tablets</a></li>
            <li><a href="#">TV, Video &amp; Audio</a></li>
            <li><a href="#">Cameras, Photo &amp; Video</a></li>
            <li><a href="#">Headphones</a></li>
            <li><a href="#">Wearable Electronics</a></li>
            <li><a href="#">Printers &amp; Ink</a></li>
            <li><a href="#">Video Games</a></li>
          </ul>
        </li>
        <li><span class="mega-menu-title">Popular Brands</span>
          <ul class="sub-menu">
            <li><a href="#">Apple</a></li>
            <li><a href="#">Canon Inc.</a></li>
            <li><a href="#">Hewlett-Packard</a></li>
            <li><a href="#">Lenovo</a></li>
            <li><a href="#">Panasonic</a></li>
            <li><a href="#">Samsung Electronics</a></li>
            <li><a href="#">Sony</a></li>
            <li><a href="#">Toshiba</a></li>
          </ul>
        </li>
        <li><span class="mega-menu-title">Store Locator</span>
          <div class="card mb-3">
            <div class="card-body">
              <ul class="list-icon">
                <li> <i class="icon-map-pin text-muted"></i>514 S. Magnolia St. Orlando, FL 32806, USA</li>
                <li> <i class="icon-phone text-muted"></i>+1 (786) 322 560 40</li>
                <li class="mb-0"><i class="icon-mail text-muted"></i><a class="navi-link" href="mailto:orlando.store@unishop.com">orlando.store@unishop.com</a></li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <ul class="list-icon">
                <li> <i class="icon-map-pin text-muted"></i>44 Shirley Ave. West Chicago, IL 60185, USA</li>
                <li> <i class="icon-phone text-muted"></i>+1 (847) 252 765 33</li>
                <li class="mb-0"><i class="icon-mail text-muted"></i><a class="navi-link" href="mailto:chicago.store@unishop.comm">chicago.store@unishop.com</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li><a class="card border-0 bg-secondary rounded-0" href="shop-grid-ls.html"><img class="d-block mx-auto" alt="Samsung Galaxy S9" src="/img/banners/mega-menu.jpg"></a></li>
      </ul>
    </li>
    <li class="has-megamenu"><a href="#">Shoes & Sneakers</a>
      <ul class="mega-menu">
        <li><span class="mega-menu-title">Women's Shoes</span>
          <ul class="sub-menu">
            <li><a href="#">Computers &amp; Accessories</a></li>
            <li><a href="#">Smartphones &amp; Tablets</a></li>
            <li><a href="#">TV, Video &amp; Audio</a></li>
            <li><a href="#">Cameras, Photo &amp; Video</a></li>
            <li><a href="#">Headphones</a></li>
            <li><a href="#">Wearable Electronics</a></li>
            <li><a href="#">Printers &amp; Ink</a></li>
            <li><a href="#">Video Games</a></li>
          </ul>
        </li>
        <li><span class="mega-menu-title">Men's Shoes</span>
          <ul class="sub-menu">
            <li><a href="#">Apple</a></li>
            <li><a href="#">Canon Inc.</a></li>
            <li><a href="#">Hewlett-Packard</a></li>
            <li><a href="#">Lenovo</a></li>
            <li><a href="#">Panasonic</a></li>
            <li><a href="#">Samsung Electronics</a></li>
            <li><a href="#">Sony</a></li>
            <li><a href="#">Toshiba</a></li>
          </ul>
        </li>
        <li><span class="mega-menu-title">Popular Brands</span>
          <ul class="sub-menu">
            <li><a href="#">Apple</a></li>
            <li><a href="#">Canon Inc.</a></li>
            <li><a href="#">Hewlett-Packard</a></li>
            <li><a href="#">Lenovo</a></li>
            <li><a href="#">Panasonic</a></li>
            <li><a href="#">Samsung Electronics</a></li>
            <li><a href="#">Sony</a></li>
            <li><a href="#">Toshiba</a></li>
          </ul>
        </li>
        <li><a class="card border-0 bg-secondary rounded-0" href="shop-grid-ls.html"><img class="d-block mx-auto" alt="Samsung Galaxy S9" src="/img/banners/mega-menu.jpg"></a></li>
      </ul>
    </li>
    <li class="has-megamenu"><a href="#">Jewerly</a>
      <ul class="mega-menu">
        <li><span class="mega-menu-title">Top Categories</span>
          <ul class="sub-menu">
            <li><a href="#">Computers &amp; Accessories</a></li>
            <li><a href="#">Smartphones &amp; Tablets</a></li>
            <li><a href="#">TV, Video &amp; Audio</a></li>
            <li><a href="#">Cameras, Photo &amp; Video</a></li>
            <li><a href="#">Headphones</a></li>
            <li><a href="#">Wearable Electronics</a></li>
            <li><a href="#">Printers &amp; Ink</a></li>
            <li><a href="#">Video Games</a></li>
          </ul>
        </li>
        <li><span class="mega-menu-title">Popular Brands</span>
          <ul class="sub-menu">
            <li><a href="#">Apple</a></li>
            <li><a href="#">Canon Inc.</a></li>
            <li><a href="#">Hewlett-Packard</a></li>
            <li><a href="#">Lenovo</a></li>
            <li><a href="#">Panasonic</a></li>
            <li><a href="#">Samsung Electronics</a></li>
            <li><a href="#">Sony</a></li>
            <li><a href="#">Toshiba</a></li>
          </ul>
        </li>
        <li><span class="mega-menu-title">Store Locator</span>
          <div class="card mb-3">
            <div class="card-body">
              <ul class="list-icon">
                <li> <i class="icon-map-pin text-muted"></i>514 S. Magnolia St. Orlando, FL 32806, USA</li>
                <li> <i class="icon-phone text-muted"></i>+1 (786) 322 560 40</li>
                <li class="mb-0"><i class="icon-mail text-muted"></i><a class="navi-link" href="mailto:orlando.store@unishop.com">orlando.store@unishop.com</a></li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <ul class="list-icon">
                <li> <i class="icon-map-pin text-muted"></i>44 Shirley Ave. West Chicago, IL 60185, USA</li>
                <li> <i class="icon-phone text-muted"></i>+1 (847) 252 765 33</li>
                <li class="mb-0"><i class="icon-mail text-muted"></i><a class="navi-link" href="mailto:chicago.store@unishop.comm">chicago.store@unishop.com</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li><a class="card border-0 bg-secondary rounded-0" href="shop-grid-ls.html"><img class="d-block mx-auto" alt="Samsung Galaxy S9" src="/img/banners/mega-menu.jpg"></a></li>
      </ul>
    </li>
    <li class="has-megamenu"><a class="sale" href="#">Sale</a>
      <ul class="mega-menu">
        <li><span class="mega-menu-title">Top Categories</span>
          <ul class="sub-menu">
            <li><a href="#">Computers &amp; Accessories</a></li>
            <li><a href="#">Smartphones &amp; Tablets</a></li>
            <li><a href="#">TV, Video &amp; Audio</a></li>
            <li><a href="#">Cameras, Photo &amp; Video</a></li>
            <li><a href="#">Headphones</a></li>
            <li><a href="#">Wearable Electronics</a></li>
            <li><a href="#">Printers &amp; Ink</a></li>
            <li><a href="#">Video Games</a></li>
          </ul>
        </li>
        <li><span class="mega-menu-title">Popular Brands</span>
          <ul class="sub-menu">
            <li><a href="#">Apple</a></li>
            <li><a href="#">Canon Inc.</a></li>
            <li><a href="#">Hewlett-Packard</a></li>
            <li><a href="#">Lenovo</a></li>
            <li><a href="#">Panasonic</a></li>
            <li><a href="#">Samsung Electronics</a></li>
            <li><a href="#">Sony</a></li>
            <li><a href="#">Toshiba</a></li>
          </ul>
        </li>
        <li><span class="mega-menu-title">Store Locator</span>
          <div class="card mb-3">
            <div class="card-body">
              <ul class="list-icon">
                <li> <i class="icon-map-pin text-muted"></i>514 S. Magnolia St. Orlando, FL 32806, USA</li>
                <li> <i class="icon-phone text-muted"></i>+1 (786) 322 560 40</li>
                <li class="mb-0"><i class="icon-mail text-muted"></i><a class="navi-link" href="mailto:orlando.store@unishop.com">orlando.store@unishop.com</a></li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <ul class="list-icon">
                <li> <i class="icon-map-pin text-muted"></i>44 Shirley Ave. West Chicago, IL 60185, USA</li>
                <li> <i class="icon-phone text-muted"></i>+1 (847) 252 765 33</li>
                <li class="mb-0"><i class="icon-mail text-muted"></i><a class="navi-link" href="mailto:chicago.store@unishop.comm">chicago.store@unishop.com</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li><a class="card border-0 bg-secondary rounded-0" href="shop-grid-ls.html"><img class="d-block mx-auto" alt="Samsung Galaxy S9" src="/img/banners/mega-menu.jpg"></a></li>
      </ul>
    </li>
    <!--<li class="has-submenu"><a href="account-orders.html">Account</a>
      <ul class="sub-menu">
          <li><a href="account-login.html">Login / Register</a></li>
          <li><a href="account-password-recovery.html">Password Recovery</a></li>
          <li><a href="account-orders.html">Orders List</a></li>
          <li><a href="account-wishlist.html">Wishlist</a></li>
          <li><a href="account-profile.html">Profile Page</a></li>
          <li><a href="account-address.html">Contact / Shipping Address</a></li>
      </ul>
    </li>-->
  </ul>
</nav>
