<!-- Toolbar ( Put toolbar here only if you enable sticky navbar ) -->
  <div class="toolbar">
    <div class="toolbar-inner">
      <div class="toolbar-item toolbar-item-sticky" id="toolbar_item_cart_link_dropdown" >
        <%= render partial: 'spree/orders/cart_link_dropdown' -%>
      </div>
    </div>
  </div>
</div>
