<div data-hook="homepage_products">
    <%= render partial: 'spree/variants/variants_wrapper', locals: { variants: @variants } -%>
</div>

<%#<% content_for :sidebar do %>
  <%#<div data-hook="homepage_sidebar_navigation">
    <%#<%= render partial: 'spree/shared/taxonomies' %>
  <%#</div>
<%#<% end %>
